@model HomeIndex
           
@{
	Page.Title = "Bowerbird";
}

<div id="sidebar-column">
    <div class="filter-group" id="default-filters">
        <div class="filter-group-title">Me</div>
        <ul>
            <li><a href="/#/user/stream/all" class="user-stream">Home</a></li>
            <li><a href="/#/user/favourites" class="user-favourites">Favourites</a></li>
            <li><a href="/#/user/favourites" class="user-favourites">My Observations</a></li>
        </ul>
    </div>
    <div class="filter-group" id="collaborations-filters">
        <div class="filter-group-title">Teams</div>
        <ul>
@*            <li><a href="/#/team/butterflies-of-aus/stream/all" class="butterflies-of-aus"><img alt="" src="../img/test-thumb-3.jpg"> Butteflies of Austra...</a></li>
            <li><a href="/#/project/butterfly-workshop/stream/all" class="butterfly-workshop"><img alt="" src="../img/test-thumb-2.jpg"> Butterfly Workshop</a></li>
            <li><a href="/#/team/mushroom-hunters/stream/all" class="mushroom-hunters"><img alt="" src="../img/test-thumb-2.jpg"> Mushroom Hunters</a></li>*@
        </ul>
        <div class="filter-group-options">
            <ul>
                <li><a href="#">Find Teams</a></li>
                <li><a href="#">Start New Team</a></li>
            </ul>
        </div>
    </div>
    <div class="filter-group" id="watch-lists">
        <div class="filter-group-title">Watches</div>
        <ul>
@*            <li><a href="/#/watch/123/stream/all">Bees</a></li>
            <li><a href="/#/watch/124/stream/all">Butterflies</a></li>
            <li><a href="/#/watch/125/stream/all">Red Things</a></li>*@
        </ul>
        <div class="filter-group-options">
            <ul>
                <li><a href="#">Create New Watch</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="workspace-column"></div>
@section script {
<script type="text/x-jquery-tmpl" id="stream-template">
    <div id="selected-filter"></div>
    <div id="stream"></div>
</script>
<script type="text/x-jquery-tmpl" id="workspace-form-create-observation-template">
    @Html.Partial("_ObservationCreate")
</script>
<script type="text/x-jquery-tmpl" id="selected-filter-details-template">
    @Html.Partial("_SelectedFilterDetails")
</script>
<script type="text/x-jquery-tmpl" id="stream-observation-item-template">
    @Html.Partial("_StreamObservationItem")
</script>
<script type="text/javascript" src="@Url.JavaScriptFile("app.js")"></script>
<script type="text/javascript" src="@Url.JavaScriptLib("jquery.signalR.min.js")"></script>
<script type="text/javascript" src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        window.activityHub = $.connection.activityHub;

        window.activityHub.onUserLoggedIn = function (user) {
            //alert(user.Id);
        };

        window.activityHub.observationCreated = function (observation) {
            //alert(observation.Id);
        };

        window.activityHub.activityOccurred = function (activity) {
            if (activity.Type == "userloggedin") { 
                alert(activity.Type + " - " + activity.Data.Id);
            }
            if (activity.Type == "observationcreated") {
                alert(activity.Type + " - " + activity.Data.Title);
            }
        };

        $.connection.hub.start(function () {
        });

        window.bowerbirdApp = new Bowerbird.AppRouter();
        Backbone.history.start({ pushState: false });
    });
</script>
}