@model Bowerbird.Web.ViewModels.Members.HomeIndex
           
@{
	Page.Title = "Bowerbird";
}

@section script {
<script type="text/x-jquery-tmpl" id="sidebar-template">
    <div class="menu-group" id="default-menu-group">
        <ul>
            <li><a href="#home/all" class="user-stream"><img alt="" src="../img/avatar-1.png"><div><p>Home <span>23</span></p></div></a></li>
            <li><a href="#favourites/all" class="user-favourites"><img alt="" src="../img/avatar-2.png"><div><p>Favourites</p></div></a></li>
        </ul>
    </div>
    <div class="menu-group" id="team-menu-group">
        <div class="menu-group-title">Teams</div>
        <ul>
        </ul>
    </div>
    <div class="menu-group" id="project-menu-group">
        <div class="menu-group-title">Projects</div>
        <ul>
        </ul>
    </div>
    <div class="menu-group" id="watch-menu-group">
        <div class="menu-group-title">Watches</div>
        <ul>
        </ul>
    </div>
</script>
<script type="text/x-jquery-tmpl" id="sidebar-item-template">
    <a href="#${id}/all" class="">
        <img alt="${name}" src="../img/avatar-3.png"><div><p>${name}</p></div>
    </a>
</script>
<script type="text/x-jquery-tmpl" id="stream-list-loading-template">
    <div id="stream-status">
        <p>
            {{if showLoader}}<img src="/img/loader.png">{{/if}}
            ${text}
            </p>
    </div>
</script>
<script type="text/x-jquery-tmpl" id="stream-load-more-template">
    <div id="stream-load-more"><input class="button" type="button" id="stream-load-more-button" value="Load More" /></div>
</script>
<script type="text/x-jquery-tmpl" id="stream-list-template">
    <h2>Activity</h2>
    <ul>
        <li>Latest activity first</li>
        <li>All activity</li>
    </ul>
    <div id="stream-items">
    </div>
</script>
<script type="text/x-jquery-tmpl" id="observation-stream-list-item-template">
    <div class="summary">
        <img src="../img/avatar.jpg" alt="" />
        <p class="description">${Description} <span>${CreatedDateTimeDescription}</span></p>
    </div>
    <div class="details">
        <h2>${Item.Title}</h2>
        <div>
            <div class="images">
                <div class="preview">
                    <img src="../img/dragonfly.png" alt="" />
                </div>
                <div class="thumbnails">
                    <img src="../img/dragonfly.png" alt="" />
                    <img src="../img/dragonfly.png" alt="" />
                    <img src="../img/dragonfly.png" alt="" />
                    <img src="../img/dragonfly.png" alt="" />
                    <img src="../img/dragonfly.png" alt="" />
                </div>
            </div>
            <div class="info">
                <div class="observed">
                    Observed
                    <span>${$item.formatDate()}</span>
                    <span>${$item.formatTime()} AEST</span>
                </div>
                <div class="location">
                    Location
                    <div class="map"></div>
                    <span>North Melbourne</span>
                    <span>Latitude 145.2323</span>
                    <span>Longitude 18.4563</span>
                </div>
            </div>
        </div>
</script>
<script type="text/x-jquery-tmpl" id="observation-create-form-template">
    @Html.Partial("_ObservationCreate")
</script>
<script type="text/javascript" src="@Url.JavaScript("bowerbirduploader.js")"></script>
<script type="text/javascript" src="@Url.JavaScript("app.js")"></script>
<script type="text/javascript">
    $(function () {
        //window.app = new Bowerbird.App();
        //app.start();
        startBowerbird(@Html.Json(Model.Teams), @Html.Json(Model.Projects));
    });
</script>
}