@model Bowerbird.Web.ViewModels.Public.AccountLogin

@{
    ViewBag.Title = "Login";
}
<section class="single-small">

<div class="form">
<h2>Login</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "Sorry, we couldn't verify your email and password.")

    <fieldset>
        <legend>Login Details</legend>
        <div class="field">
            <div>
                @Html.LabelFor(x => x.Email)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
        <div class="field">
            <div>
                @Html.Label("password", "Password")
            </div>
            <div>
                @Html.Password("password")
                @Html.ValidationMessage("Password")
                <p>@Html.ActionLink("I've forgotten my password", "requestpasswordreset", "account")</p>
            </div>
        </div>
        <div class="field">
            <div>
            @Html.CheckBoxFor(x => x.RememberMe)
            @Html.LabelFor(x => x.RememberMe, "Keep Me Logged in")
            </div>
        </div>
    </fieldset>
    <fieldset>
        <input type="submit" value="Login" />
    </fieldset>
}

</div>
</section>