@model Bowerbird.Web.ViewModels.AccountLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) 
{
    <fieldset>
        <legend>Login Details</legend>
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)

            <label for="password">Password</label>
            @Html.Password("password")
            <p>@Html.ActionLink("I've forgotten my password", "requestpasswordreset", "account")</p>

            @Html.LabelFor(x => x.RememberMe, "Remember Me")
            @Html.CheckBoxFor(x => x.RememberMe)
        </div>
        <input type="submit" value="Login" />
    </fieldset>
}