@model Bowerbird.Web.ViewModels.Public.AccountRegister

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "There were some problems with your registration.")

    <fieldset>
        <legend>Register Details</legend>
        <div>
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName)
            @Html.ValidationMessageFor(x => x.FirstName)

            @Html.LabelFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName)
            @Html.ValidationMessageFor(x => x.LastName)

            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
            
            @Html.Label("password", "Password")
            @Html.Password("password")
            @Html.ValidationMessage("password")
        </div>
        <input type="submit" value="Register" />
    </fieldset>
}