@model Bowerbird.Web.ViewModels.Public.AccountResetPassword

@{
    ViewBag.Title = "Reset Password";
}
<section id="small-workspace">

<div class="form">
<h2>Reset Password</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "Sorry, there was a problem with that password.")
    
    @Html.HiddenFor(x => x.ResetPasswordKey)
    <fieldset>
        <legend>Password Details</legend>
        <div>
            @Html.Label("password", "Password")
            @Html.Password("password")
            @Html.ValidationMessage("password")
        </div>

        <input type="submit" value="Save" />
    </fieldset>
}
</div>
</section>