@model Bowerbird.Web.ViewModels.Public.ProjectIndex

@{ ViewBag.Title = "Project";}

<h2>Project</h2>
<p>@Html.LabelFor(x => x.Project.Name)</p>
<p>@Html.LabelFor(x => x.Project.Description)</p>

@Foreach (var observation in Model.Observations.PagedListItems())
{
    <p>@Html.LabelFor(observation.Title)</p>
    <p>@Html.LabelFor(observation.ObservedOn)</p>
    <p>@Html.LabelFor(observation.Latitude)</p>
    <p>@Html.LabelFor(observation.Longitude)</p>
    <p>@Html.LabelFor(observation.Address)</p>
    <p>@Html.LabelFor(observation.ObservationCategory)</p>
}