@model Bowerbird.Web.ViewModels.UserUpdate

@{
    ViewBag.Title = "Update Profile";
}

<h2>Update Profile</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "There were some problems with your profile details.")

    <fieldset>
        <legend>Profile Details</legend>
        <div>
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName)
            @Html.ValidationMessageFor(x => x.FirstName)

            @Html.LabelFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName)
            @Html.ValidationMessageFor(x => x.LastName)

            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
            
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <input type="submit" value="Save" />
    </fieldset>
}