@model IdentificationCreateViewModel

@using (Html.BeginForm("Create", "Identification", FormMethod.Post))
{
    <div>
        Make an Identification
    </div>
    <div>
        <div id="validation-result"></div>
        @Html.HiddenFor(x => x.ObservationKey)
        <div>
            @Html.LabelFor(x => x.CommonName)
            <br />
            @Html.TextBoxFor(x => x.CommonName)
            @Html.ValidationMessageFor(x => x.CommonName)
        </div>
        <div>
            @Html.LabelFor(x => x.ScientificName)
            <br />
            @Html.TextBoxFor(x => x.ScientificName)
            @Html.ValidationMessageFor(x => x.ScientificName)
        </div>
        <div>
            @Html.LabelFor(x => x.Taxonomy)
            <br />
            @Html.TextBoxFor(x => x.Taxonomy)
            @Html.ValidationMessageFor(x => x.Taxonomy)
        </div>
    </div>
}